{% extends "base.html" %}

{% block content %}
{% if not post.banned %}
<h2>{{post["name"]}}</h2><br>
<h3>{{post["content"]}}</h3>
<p>Автор поста: {{ post["user"]["name"] }}. Дата создания:
    {{ post["date"] }}</p><br>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.text.label }}<br>
        {{ form.text(class="form-control") }}<br>
        {% for error in form.text.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
</form>
{% for comment in post["comments"] %}
<h3>{{comment["user"]["name"]}}</h3>
<p>{{comment["content"]}}</p>
<p>Время создания: {{comment.date}}</p>
{% endfor %}
{% else %}
<h2>Данный пост заблокирован</h2>
{% endif %}
{% endblock %}